.edit_pensik{
	position: absolute;
	right: 11px;
	top: 1px;
	background-color: #E4E2E4;
	padding: 1px 10px;
	border-radius: 4px;
	cursor: pointer;
	border: 1px solid #C0C0C0;
}
.edit_pensik:hover{
	background-color: #ECEEEC;
}
.x-grid3 table{
	position: relative;	
}
#lessons_modal .row{
	margin-left: 0px;
	margin-right: 0px;
}
#lessons_modal .row>span{
	width: 100%;
	display: inline-block;
}
